body {
    background: none !important;
}

#container {
    font-size: 20px;
    font-family: consolas;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(66, 66, 66);
    height: 650px;
    width: 1000px;
    border: 2px solid aliceblue;
    border-radius: 7px;
    box-shadow: inset 0px 20px 15px -5px rgba(255, 255, 255, .4);
}

#topBar {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

#title-tw{
    border-right: 1px solid gray;
    color: yellow;
    font-weight: bold;
    margin-left: 10 px;
    padding-right: 10px;
}

#title-en{
    font-size: 17px;
    color: rgb(200,200,200);
    margin-left: 10px;
}

#close {
    position: fixed;
    right: 0%;
    transform: translate(-100%, 0%);
    border: 1px solid gainsboro;
    border-radius: 5px;
    cursor: pointer;
}

#close:hover {
    background-color: rgb(125,125,125);
}

#guild {
    display: flex;
    height: 550;
}

#menu {
    list-style: none;
}

#selfInformation {
    position: relative;
    text-align: center;
    height: 100px;
    width: 150px;
    border: 2px solid gainsboro;
    border-radius: 10px;
    margin: 5px;
    margin-bottom: 20px;
}

#self-name{
    position: relative;
    top: 30px;
}

#self-lv{
    position: relative;
    top: 30px;
    font-size: 15px;
    color: rgb(255, 255, 0);
}

.menuButton {
    position: relative;
    text-align: center;
    height: 30px;
    width: 170px;
    border: 2px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-bottom: 10px;
    box-shadow: inset -4px -4px 6px 0 rgba(0, 0, 0, .4);
}

.menuButton:hover {
    background-color: rgb(200,200,200);
    box-shadow: 
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

.menuButton:active{
    top: 2px;
}

.btnSelected:hover{
    background-color: aqua;
    box-shadow: 
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

.btnSelected{
    background-color: aqua;
    box-shadow: 
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

#menu-content {
    width: 100%;
    height: 100%;
    border: 1px solid gainsboro;
    border-radius: 10px;
    padding: 10px;
    box-shadow: inset 0px 10px 15px -5px rgba(255, 255, 255, .4);
}

.content{
    display: none;
}

.selected {
    display: block;
}

#findGuild {
    position: fixed;
    bottom: 20px;
    font-size: 15px;
    border: 2px;
    border-radius: 10px;
}

#findGuild:hover{
    background-color: rgb(200,200,200);
    
}

/* ------------------information------------------ */

#content-information{
    position: relative;
    height: 100%;
}

#information{
    position: relative;
    margin: 10px;
    padding: 10px 10px;
    padding-left: 40px;
    border: 1px solid white;
    background-color: rgb(55,55,55);
    border-radius: 10px;
    box-shadow: inset 0px 10px 15px -5px rgba(255, 255, 255, .4);
}

#information table{
    width: 100%;
    color: white;
}

#information table tr{
    height: 20px;
}

#information table td:first-child{
    width: 200px;
    font-weight: bold;
    color: rgb(200,200,200);
}

#information-ranking{
    color: white;
    font-weight: normal;
    padding: 0px 10px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgb(33,33,33);
    box-shadow: inset 0px -10px 15px -5px rgba(255, 255, 255, .3);
}

#information-ranking table{
    text-align: left;
    border-collapse: collapse;
}

#information-ranking tbody td{
    border-bottom: 1px solid rgb(100,100,100);
}

#information-comment{
    color: white;
    font-weight: normal;
    padding: 0px 10px;
    height: 100px;
    width: 710px;
    white-space: pre-line;
    overflow-y: auto;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgb(33,33,33);
    box-shadow: inset 0px -10px 15px -5px rgba(255, 255, 255, .3);
}

#editGuild{
    display: block; 
    position: absolute;
    right: 0%;
    top: 0px;
    width: max-content;
    margin: 10px;
    border: 0.1px solid rgb(200,200,200);
    border-radius: 5px;
    box-shadow: inset -1px -1px 5px rgba(0, 0, 0, .4);
}

#editGuild:hover{
    background-color: rgb(200, 200, 200);
}

#editGuild:active{
    box-shadow: inset 2px 2px 5px 0 rgba(0, 0, 0, .4);
}

#upgradeGuild{
    display: block; 
    position: absolute;
    right: 0%;
    top: 60px;
    width: max-content;
    margin: 10px;
    border: 0.1px solid rgb(200,200,200);
    border-radius: 5px;
    box-shadow: inset -1px -1px 5px rgba(0, 0, 0, .4);
}

#upgradeGuild:hover{
    background-color: rgb(200, 200, 200);
}

#upgradeGuild:active{
    box-shadow: inset 2px 2px 5px 0 rgba(0, 0, 0, .4);
}

#newGuildComment{
    width: 100%;
    height: 100%;
    resize: none;
}

#leaveGuild{
    font-weight: bold;
    position: absolute;
    right: 0%;
    bottom: 0%;
    margin: 10px;
    background-color: rgb(255, 60, 60);
    border: 0.1px solid rgb(200,200,200);
    border-radius: 5px;
}

#leaveGuild:hover{
    background-color: rgb(255, 130, 130);
}

#leaveGuild:active{
    box-shadow: inset 2px 2px 5px 0 rgba(0, 0, 0, .4);
}

/* ------------------upgrade------------------ */

#upgrade{
    position: relative;
    height: 500px;
    margin: 10px;
    border: 1px solid white;
    background-color: rgb(55,55,55);
    border-radius: 10px;
    box-shadow: inset 0px 10px 15px -5px rgba(255, 255, 255, .4);
}

#upgrade-topBar{
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 40px;
}

#upgrade-money,
#upgrade-point{
    position: relative;
    top: 15px;
}

#upgrade-money{
    right: 20px;
}

#upgrade-money span:nth-child(2),
#upgrade-point span:nth-child(2){
    padding: 0px 20px;
    margin: 0px 10px;
    border: 1px solid white;
    border-radius: 10px;
}

#upgrade-information{
    position: relative;
    height: 400px;
    margin: 10px;
    padding: 0px 10px;
    background-image: url(asset/img/upgrade-5.png);
    background-size: auto;
    border: 1px solid white;
    border-radius: 10px;
}

#upgrade-information div{
    position: relative;
}

#upgrade-information div:nth-child(1),
#upgrade-information div:nth-child(2){
    position: relative;
    top: 200px;
}

#upgrade-information div:nth-child(3){
    position: absolute;
    bottom: 20px;
}

#upgrade-lv{
    font-size: 120px;
}

#upgradeButton{
    position: absolute;
    right: 20px;
    bottom: 10px;
    width: 130px;
    height: 25px;
    background-color: rgb(250,250,250);
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: inset -1px -2px 6px rgba(0, 0, 0, .4);
}

#upgradeButton:hover:enabled{
    background-color: rgb(200,200,200);
}

#upgradeButton:active:enabled{
    box-shadow: inset 1px 2px 6px rgba(0, 0, 0, .4);
}

/* ------------------member------------------ */

#content-member{
    position: relative;
}

#join-apply{
    position: absolute;
    right: 10px;
    top: 0px;
    border: 0.1px solid rgb(200,200,200);
    height: 27px;
    width: 70px;
    border-radius: 5px;
}

#join-apply:hover{
    background-color: rgb(200,200,200);
}

#join-apply:active{
    box-shadow: inset 2px 2px 5px 0 rgba(0, 0, 0, .4);
}

#join-apply-num{
    position: absolute;
    top: -7px;
    right: -7px;
    padding: 0px 4px;
    border-radius: 50%;
    background: red;
    color: white;
    transition: 0.1s;
}

#join-apply:hover #join-apply-num{
    top: -10px;
    transition: 0.1s;
}

#member{
    height: 500px;
    margin: 10px;
    padding: 0 20px;
    border: 1px solid white;
    background-color: rgb(44,44,44);
    border-radius: 10px;
    box-shadow: inset 0px -10px 15px -5px rgba(255, 255, 255, .3);
    overflow-y: auto;
}

#member table{
    width: 100%;
    color: white;
    text-align: left;
    border-collapse: collapse;
}

#member table thead{
    display: table;
    width: 100%;
    table-layout: fixed;
    color: rgb(200,200,200);
}

#member th:first-child,
#member tbody td:first-child{
    width: 50px;
}

#member table tbody{
    width: 100%;
    height: 465px;
    display: block;
    overflow-y: auto;
}

#member table tr{
    display: table;
    width: 100%;
    height: 30px;
    table-layout: fixed;
}

#member tbody td:first-child{
    color: rgb(160,160,160);
}

#member tbody td{
    border-bottom: 1px solid rgb(100,100,100);
}

#member tbody tr:hover{
    background-color: rgb(100, 100, 100);
}

#memberOption{
    position: absolute;
    font-size: 12px;
    text-align: center;
    padding-bottom: 7px;
    padding-top: 7px;
    background: lightgray;
    border: 1px solid black;
    border-radius: 10px;
}

#memberOption ul {
    padding: 0px;
    margin: 0px;
    min-width: 100px;
    list-style: none;
}

#memberOption ul li {
    padding-bottom: 5px;
    padding-top: 5px;
}

#memberOption ul li:hover {
    background: darkgray;
}

#member-changeGrade:hover #member-changeGrade-option{
    display: block;
}

#member-changeGrade{
    position: relative;
}

#member-changeGrade::after{
    content: "▶";
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
}

#member-changeGrade-option{
    display: none;
    position: absolute;
    top: 0px;
    left: 100%;
    font-size: 12px;
    text-align: center;
    padding-bottom: 7px;
    padding-top: 7px;
    background: lightgray;
    border: 1px solid black;
    border-radius: 10px;
}


/* ------------------member-apply------------------ */

#member-apply{
    height: 500px;
    margin: 10px;
    padding: 0 20px;
    border: 1px solid white;
    background-color: rgb(44,44,44);
    border-radius: 10px;
    box-shadow: inset 0px -10px 15px -5px rgba(255, 255, 255, .3);
    overflow-y: auto;
}

#member-apply table{
    width: 100%;
    color: white;
    text-align: left;
    border-collapse: collapse;
}

#member-apply table thead{
    display: table;
    width: 100%;
    table-layout: fixed;
    color: rgb(200,200,200);
}

#member-apply th:first-child,
#member-apply tbody td:first-child{
    width: 50px;
}

#member-apply table tbody{
    width: 100%;
    height: 465px;
    display: block;
    overflow-y: auto;
}

#member-apply table tr{
    display: table;
    width: 100%;
    height: 30px;
    table-layout: fixed;
}

#member-apply tbody td:first-child{
    color: rgb(160,160,160);
}

#member-apply tbody td{
    border-bottom: 1px solid rgb(100,100,100);
}

#member-apply th:last-child,
#member-apply tbody td:last-child{
    width: 100px;
}

.apply-yes,
.apply-no{
    display: block;
    width: 80px;
    margin: 5px;
    color: white;
    border: 1px solid gray;
    border-radius: 5px;
}

.apply-yes:enabled{
    background-color: rgb(50, 150, 50);
}

.apply-no:enabled{
    background-color: rgb(230, 70, 50);
}

.apply-yes:hover:enabled{
    background-color: rgb(10, 110, 10);
}

.apply-no:hover:enabled{
    background-color: rgb(190, 50, 30);
}

.apply-yes:active:enabled,
.apply-no:active:enabled{
    box-shadow: inset 2px 2px 5px 0 rgba(0, 0, 0, .4);
}

/* ------------------skill------------------ */

#skill{
    position: relative;
    height: 500px;
    margin: 10px;
    padding: 0 20px;
    border: 1px solid white;
    background-color: rgb(55,55,55);
    border-radius: 10px;
    box-shadow: inset 0px 10px 15px -5px rgba(255, 255, 255, .4);
}

#skill-point{
    position: absolute;
    right: 10px;
    top: 10px;
}

#skill-point span:nth-child(2){
    padding: 0px 20px;
    margin: 0px 10px;
    border: 1px solid white;
    border-radius: 5px;
}

.skill-container{
    height: 130px;
    width: 120px;
    border: 1px solid white;
    border-radius: 10px;
}

.skill-img{
    height: 120px;
    width: 120px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom: 1px solid white;
}

#skill-XP{
    position: absolute;
    top: 50px;
    left: 20px;
}

#skill-XP .skill-img{
    background-image: url(asset/img/skill-xp.png);
    background-size: auto;
}

#skill-attack{
    position: absolute;
    top: 50px;
    left: 270px;
}

#skill-attack .skill-img{
    background-image: url(asset/img/skill-attack.png);
    background-size: auto;
}

#skill-treasure{
    position: absolute;
    top: 50px;
    left: 520px;
}

#skill-treasure .skill-img{
    background-image: url(asset/img/skill-treasure.png);
    background-size: auto;
}

#skill-defense{
    position: absolute;
    top: 250px;
    left: 120px;
}

#skill-defense .skill-img{
    background-image: url(asset/img/skill-defense.png);
    background-size: auto;
}

#skill-recoverHP{
    position: absolute;
    top: 250px;
    left: 370px;
}

#skill-recoverHP .skill-img{
    background-image: url(asset/img/skill-recoverHP.png);
    background-size: auto;
}

#skill-recoverMP{
    position: absolute;
    top: 250px;
    left: 620px;
}

#skill-recoverMP .skill-img{
    background-image: url(asset/img/skill-recoverMP.png);
    background-size: auto;
}

.skill-container:hover .tip{
    display: block;
}

.tip{
    display: none;
    position: relative;
    font-size: 12px;
    padding: 0px 5px;
    top: -40px;
    left: 120px;
    border: 1px solid white;
    background-color: rgb(0, 0, 0);
}

.tip>div:first-child{
    border-bottom: 1px solid white;
}

#tip-recoverMP{
    left: -120px;
}

.skill-progressBar{
    height: 10px;
    background-color: greenyellow;
    transition-property: width border-bottom-right-radius;
    transition-duration: 2s;
    border-bottom-left-radius: inherit;
}

.progress-0{
    width: 0%;
}

.progress-1{
    width: 20%;
}

.progress-2{
    width: 40%;
}

.progress-3{
    width: 60%;
}

.progress-4{
    width: 80%;
}

.progress-5{
    width: 100%;
    border-bottom-right-radius: inherit;
}

.progressChange{
    background-color: white;
}

.skill-upgrade{
    position: absolute;
    width: 120px;
    height: 30px;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(250,250,250);
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: inset -1px -2px 6px rgba(0, 0, 0, .4);
}

.skill-upgrade:hover:enabled{
    background-color: rgb(200,200,200);
}

.skill-upgrade:active:enabled{
    box-shadow: inset 1px 2px 6px rgba(0, 0, 0, .4);
}

/* ------------------ranking------------------ */

#ranking{
    height: 500px;
    margin: 10px;
    padding: 0 20px;
    border: 1px solid white;
    background-color: rgb(44,44,44);
    border-radius: 10px;
    box-shadow: inset 0px -10px 15px -5px rgba(255, 255, 255, .3);
    overflow-y: auto;
}

#ranking table{
    width: 100%;
    color: white;
    text-align: left;
    border-collapse: collapse;
}

#ranking table thead{
    display: table;
    width: 100%;
    table-layout: fixed;
    color: rgb(200,200,200);
}

#ranking table tbody{
    width: 100%;
    height: 465px;
    display: block;
    overflow-y: auto;
}

#ranking table th:first-child,
#ranking table td:first-child{
    width: 80px;
}

#ranking table tr{
    display: table;
    width: 100%;
    height: 30px;
    table-layout: fixed;
}

#ranking tbody td:first-child{
    color: rgb(160,160,160);
}

#ranking tbody td{
    border-bottom: 1px solid rgb(100,100,100);
}

/* ------------------shop------------------ */

#shop{
    position: relative;
    height: 500px;
    margin: 10px;
    padding: 0 20px;
    font-size: 15px;
    text-align: center;
    border: 1px solid white;
    background-color: rgb(55,55,55);
    border-radius: 10px;
    box-shadow: inset 0px 10px 15px -5px rgba(255, 255, 255, .4);
}

.shop-item{
    position: absolute;
    height: 220px;
    width: 180px;
    padding: 0px 5px;
    border: 1px solid white;
    border-radius: 5px;
}

#green{
    top: 20px;
    left: 50px;
}

#blue{
    top: 20px;
    left: 250px;
}

#purple{
    top: 20px;
    left: 450px;
}

#gold{
    top: 260px;
    left: 50px;
}

#red{
    top: 260px;
    left: 250px;
}

.item-name{
    width: 100%;
    padding: 15px 0px;
    text-align: center;
    border-bottom: 0.5px dashed white;
}

.item-limit{
    width: 100%;
    padding: 5px 0px;
    text-align: right;
    font-size: 12px;
    color: darkgoldenrod;
}

.item-img{
    height: 100px;
    width: 100%;
}

.shop-buy{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
    width: calc(100% - 5px);
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: inset -1px -2px 6px rgba(0, 0, 0, .4);
}

.shop-buy:hover:enabled{
    background-color: rgb(200,200,200);
}

.shop-buy:active:enabled{
    box-shadow: inset 1px 2px 6px rgba(0, 0, 0, .4);
}

.shop-buy>span:first-child{
    position: absolute;
    left: 20px;
}

.shop-buy:hover+.tip{
    display: block;
    top: -10px;
    left: 0px;
}

/* ------------------misson------------------ */

#misson{
    position: relative;
    height: 500px;
    margin: 10px;
    padding: 0px 20px;
    font-size: 15px;
    border: 1px solid white;
    background-color: rgb(55,55,55);
    border-radius: 10px;
    box-shadow: inset 0px 10px 15px -5px rgba(255, 255, 255, .4);
}

#misson-day,
#misson-week{
    height: 210px;
    padding: 0px 20px;
    background-color: inherit;
    border: 1px solid white;
}

#misson-week{
    margin-top: 40px;
}

#misson-day{
    margin-top: 20px;
}

#misson-day>div:first-child,
#misson-week>div:first-child{
    position: relative;
    top: -10px;
    left: 20px;
    width: 100px;
    text-align: center;
    background-color: inherit;
}

#misson-day>div:nth-child(2),
#misson-week>div:nth-child(2){
    display: flex;
    height: 177px;
    width: 704px;
    overflow: auto;
}

.misson-container{
    position: relative;
    flex-shrink: 0;
    margin-right: 20px;
    width: 150px;
    height: 160px;
    border: 1px solid gray;
    border-radius: 5px;
}

.misson-level{
    position: absolute;
    right: 10px;
    font-size: 30px;
}

.misson-describe{
    position: relative;
    top: 50px;
    left: 0px;
    font-size: 14px;
}

.misson-describe::before{
    content: "※";
    color: darkgoldenrod;
}

.misson-progress{
    position: relative;
    top: 50px;
    left: 0px;
    font-size: 14px;
    text-align: center;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.misson-rewards{
    display: flex;
    position: absolute;
    bottom: 0px;
    overflow-x: auto;
    width: inherit;
    padding-bottom: 5px;
}

.misson-rewards::-webkit-scrollbar {
    height: 5px;
}

.rewards-item{
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0px 5px;
    flex-shrink: 0;
    border: 1px solid white;
    border-radius: 5px;
    background-image: url("./asset/img/item.png");
    background-size: contain;
}

.rewards-amount{
    position: absolute;
    bottom: 0px;
    right: 2px;
    font-size: 10px;
}

.rewards-amount::before{
    content: "x";
}

/* ------------------search------------------ */

#content-search div:first-child{
    display: flex;
    width: 100%;
}

#search-bar{
    display: inline-flex;
    position: relative;
    right: 0%;
}

#search-input{
    border-radius: 5px;
}

#search-button{
    width: 70px;
    margin: 0 10px;
    border-radius: 5px;
}

#search{
    height: 500px;
    margin: 10px;
    padding: 0 20px;
    border: 1px solid white;
    background-color: rgb(44,44,44);
    border-radius: 10px;
    box-shadow: inset 0px -10px 15px -5px rgba(255, 255, 255, .3);
    overflow-y: auto;
}

#search table{
    width: 100%;
    color: white;
    text-align: left;
    border-collapse: collapse;
}

#search table thead{
    display: table;
    width: 100%;
    table-layout: fixed;
    color: rgb(200,200,200);
}

#search thead th:first-child,
#search tbody td:first-child{
    width: 50px;
}

#search thead th:last-child,
#search tbody td:last-child{
    width: 80px
}

#search table tbody{
    width: 100%;
    height: 465px;
    display: block;
    overflow-y: auto;
}

#search table tr{
    display: table;
    width: 100%;
    height: 30px;
    table-layout: fixed;
}

#search tbody td:first-child{
    color: rgb(160,160,160);
}

#search tbody tr td{
    border-bottom: 1px solid rgb(100,100,100);
}

.search-join,
.search-information{
    display: block;
    margin: 5px;
    border-radius: 5px;
}

.search-join:hover:enabled,
.search-information:hover:enabled,
#search-button:hover{
    background-color: rgb(200,200,200);
}

.search-join:active:enabled,
.search-information:active:enabled,
#search-button:active{
    box-shadow: inset 2px 2px 5px 0 rgba(0, 0, 0, .4);
}

.applying:enabled{
    background-color: rgb(10, 200, 10);
}
.applying:hover:enabled{
    background-color: rgb(0, 150, 0);
}

/* ------------------confirmBox------------------ */

#confirmWindow{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
}

#confirmBox{
    position: fixed;
    height: 150px;
    width: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: gray;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
}

#confirm-text{
    font-size: 25px;
    color: white;
    font-weight: bold;
    position: relative;
    top: 20px;
}

#confirm-button-yes,
#confirm-button-no{
    position: relative;
    top: 50px;
    width: 50px;
    font-size: 15px;
    margin: 20px;
    border: 0.5px solid white;
    border-radius: 5px;
    background-color: rgb(255,255,255);
}

#confirm-button-yes:hover,
#confirm-button-no:hover{
    background-color: rgb(200,200,200);
}

#confirm-button-yes:active,
#confirm-button-no:active{
    box-shadow: inset 2px 2px 5px 0 rgba(0, 0, 0, .4);
}

/* ------------------scrollbar------------------ */

::-webkit-scrollbar {
	width: 5px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
	background-color: rgb(200,200,200);
}

::-webkit-scrollbar-track {
	background-color: rgba(0,0,0,0);
    margin:10px 0;
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgb(160,160,160);
}