body {
    background: none !important;
}

#container {
    font-size: 20px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(66, 66, 66);
    height: 650px;
    width: 1000px;
    border: 2px solid aliceblue;
    border-radius: 7px;
}

#title {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    color: yellow;
    font-weight: bold;
}

#close {
    position: fixed;
    right: 0%;
    transform: translate(-100%, 0%);
    border: 1px solid gainsboro;
    border-radius: 5px;
    cursor: pointer;
}

#close:hover {
    background-color: rgb(125,125,125);
}

#guild {
    display: flex;
    height: 550;
}

#menu {
    list-style: none;
}

#selfInformation {
    position: relative;
    height: 100px;
    width: 100px;
    border: 2px solid gainsboro;
    border-radius: 10px;
    margin: 5px;
    margin-bottom: 20px;
}

.menuButton {
    position: relative;
    height: 30px;
    width: 120px;
    border: 2px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-bottom: 10px;
    box-shadow: inset -4px -4px 6px 0 rgba(0, 0, 0, .4);
}

.menuButton:hover {
    background-color: rgb(200,200,200);
    box-shadow: 
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

.menuButton:active{
    top: 2px;
}

.btnSelected:hover{
    background-color: aqua;
    box-shadow: 
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

.btnSelected{
    background-color: aqua;
    box-shadow: 
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

#menu-content {
    width: 860;
    height: inherit;
    border: 1px solid gainsboro;
    border-radius: 10px;
    padding: 10px;
}

.content{
    display: none;
}

.selected {
    display: block;
}

#findGuild {
    position: fixed;
    bottom: 10px;
}